*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #39C2CB;
	font-family: 'La Belle Aurore', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    line-height: 1.5em;
    margin: 0;
}

.container{
	width: 85%;
	max-width: 850px;
	margin: 0 auto;
	background: yellow;

}
.header{
	background: #56C721;
	color: white;
	padding: 1rem 0;
}

.header a{ /*a= vinvulo*/
	color: blue;
	text-decoration: none;
}

.logo-nav-containe {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	letter-spacing: 5px;
	font-size: 1.6em;
}
.navigation ul{
	margin: 0;
	padding: 0;
	list-style: none; /*quito vinetas*/
}
.navigation ul li{
	display: inline-block; /*coloco elementos uno tras otro*/
}
 .navigation ul li a {
 	display: block;
 	padding: 0.5rem 0.7rem; /*separamos los li*/
 	border-radius: 5px;
 	transition: all 0.6s linear;
 }
 .navigation ul li a:hover{
 	background: #B2E7E2;
 	color: #CE2F16;
 }

